.contact-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns with equal width */
    gap: 20px; 
  }
  
.form-section,
.link-section {
    text-align: center; /* Center-align content */
}
  
.link-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section p{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
}

@media screen and (max-width: 858px){
    .contact-section{
        grid-template-columns: none;
        gap: 0px; 
    }
    .link-section p {
        margin-bottom: 0px; /* Add some space below the paragraph */
    }
}